body {
    background-color: #DEA845;
    color: #0C25E8;
    font-family: ;
}
.container {
    padding: 120px;
    background-color: #BCD955;
}
.container h1 {
    padding-bottom: 20px;
    text-align: center;
    color: #9762F0;
    font-weight: darker;
    font-family: Cinzel Decorative;
    font-size: 250%;
}

.container p {
    text-align: left;
    font-weight: normal;
    font-family: Roboto;
    font-size: 115%;
}