body {
    background-color: #DEA845;
    color: #0C25E8;
    font-family: ;
}
.box {
    padding: 120px;
    background-color: #BCD955;
}
.box h1 {
    padding-bottom: 20px;
    text-align: center;
    color: #9762F0;
    font-weight: bolder;
    font-family: Kaushan Script;
    font-size: 300%;
}

.box p {
    text-align: left;
    font-weight: normal;
    font-family: Roboto;
    font-size: 20px;
}

img {
    padding-left: 40%;
    padding-bottom: 30px;
    width: 15em;
}

#websites h2 {
    font-family: Kaushan Script ;
    font-weight: bolder;
    font-size: 250%;
    text-align: center;
}